.header-logo {
  width: 402px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: #F2F2F2;
}

.header-logo-name {
  z-index: 2;
  position: relative;
  left: 190px; 
}

.header-logo-img {
  width: 109.41px;
  height: 36.36px;
}

.text-style {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  color: #415167;
  text-transform: uppercase;
  margin: 0 0 10px 0;
}

.highlighted {
  color: #F9FBFF;
  background: #C7A17A;
}

.header-menu-container {
  margin-top: 86px;
  margin-left: 56px;
  height: 100%;
}

.header-background-img {
  background-image: url(./bilder/300_o.jpg);
  width: 690px;
  z-index: 1;
  opacity: 1;
}

.shopping-number {
  width: 20px;
  height: 20px;
  background: #C7A17A;
  border-radius: 100px;
  z-index: 1;
  text-align: center;
  position: relative;
  left:11px;
  top: 5px;
  font-size: 14px;
}

.header-menu {
  width: 348px;
  background: #415167;
  display: flex;
  flex-direction: column;
  z-index: 1;
  gap: 100px;
}

.shopping-box {
  height: 55px;
  width: 55px;
}

.menu-list {
  list-style-type: none;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap:30px;
  margin-top: 120px;
}

.menu-list-item {
  color: #EDF0F5;
  /*font-weight: bold;*/
}

.features-container {
  width: 100%;
  height: 589px;
  background: #F2F2F2;
}

.features {
  width: 1000px;
  margin: 0 auto;
  margin-top: 68px;
}

.container {
  display: flex;
  gap:66px;
  text-align: center;
  margin-top: 90px;
}

.container-inner {
  width: 226px;
  height: 246.57px;

}

.sub-text-small {
  font-weight: 600;
  font-size: 20px;
  color: #415167;
  margin-bottom: 9px;
}

.sub-text-big {
  font-size: 30px;
  line-height: 34px;
}

.tstyle-nunito-bold {
  color: #232C38;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 0px;
  margin-top: 10px;
}

.shopping-list {
  height: 894px;
  display: flex;
  margin: 0;
  width: 100%;
  /*background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(65,81,103,1) 0%, rgba(65,81,103,1) 0%, rgba(65,81,103,1) 26%, rgba(250,250,250,1) 26%);
  display: flex;*/
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  background: rgb(65,81,103);
  background: linear-gradient(90deg, rgba(65,81,103,1) 26%, rgba(242,242,242,1) 26%);
}

/*.header-menu_higher {
  height: 894px;
  width: 384px;
  z-index: 1;
}

.shopping-list-container {
  height: 894px;
  width: 1060px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}*/

.shopping-container {
  height: 556px;
  width: 1290px;
  position: relative;
  left: 128px;
  bottom: 50px;
  z-index: 2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap:10px;
}

.vertical-container {
  flex-wrap: nowrap;
  display: flex;
  width: 1307px;
  z-index: 3;
  flex-direction: row;
  gap: 36px;
  position: relative;
  left: 4px;
  overflow: hidden;
  margin-left: 126px;
  margin-top: 60px;
}

.shopping-container-inner {
  height: 256px;
  width: 560px;
  background: #FFFFFF;
  display: flex;
  flex-direction: row;
 }

.vertical {
  flex-direction: column;
  width: 360px;
  height: 556px;
}

.info{
  width: 330px;
  padding-top: 30px;
  padding-left: 30px;
}

.price-box {
  height: 22px;
  width: 151px;
  display: inline-flex;
  justify-content: space-between;

}

.price {
  color: #C7A17A;
  margin: 0;
  font-weight: 600;
  font-size: 20px;
}

.price-small {
  font-size: 14px;
  line-height: 19px;
  text-decoration-line: line-through;
  color: #415167;
  margin: 0px;
  margin-top: 3px;
}

.btn {
  background: #C7A17A;
  border-radius: 19px;
  height: 32px;
  width: 134px;
  border:none;
  color: #FFFFFF;
  outline: none;
  margin-right: 35px;
  cursor: pointer;
}

.btn-transperant {
  height: 38px;
  width: 140px;
  border: none;
  background: #FFFFFF;
  outline: none;
  cursor: pointer;
  color: #415167;
}

.gift-set-container {
  width: 100%;
  height: 802px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
 /* background: rgb(237,240,245);
  background: linear-gradient(90deg, rgba(237,240,245,1) 75%, rgba(250,250,250,1) 75%, rgba(250,250,250,1) 75%);*/
  background: rgb(237,240,245);
  background: linear-gradient(90deg, rgba(237,240,245,1) 75%, rgba(242,242,242,1) 75%);
}

.gift-set-container-inner {
  height: 460px;
  width: 888px;
  display: flex;
  background: #FFFFFF;
  position: relative;
  right: 140px;
  margin-top: 68px;
}

.slide-change-container {
  height: 460px;
  width: 88px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #EDF0F5;
  /*opacity: 0.4;*/
}

.slide-change-btn {
  height: 154px;
  width: 88px;
  background: #EDF0F5;
  opacity: 0.4;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.active-btn {
  background: #FFFFFF;
  opacity: 1;
}

/*.big {
  width: 430px;
  height: 350px;
  margin-right: 70px;
  margin-top: 66px;
  flex-direction: column;
}*/
.info-large {
  margin-right: 70px;
  margin-top: 66px;
  height: 380px;
}

.coffee-packadge-gift {
  position: relative;
  right:150px;
  z-index: 3;
  top:66px;
  width: 450px;
  height: 380px;
}

.coffee-container-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 190px;
  height: 60px;
  margin: 0px;
}

.coffee-container-inner p {
  margin: 0px;
}

.coffee-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.moun-img {
  width: 30px;
  height: 25px;
  margin-right: 20px;
}

.sale-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  background: rgb(242,242,242);
  background: linear-gradient(90deg, rgba(242,242,242,1) 75%, rgba(65,81,103,1) 75%);
   /* background: rgb(255,255,255);
    background: linear-gradient(
90deg
, rgba(255,255,255,1) 75%, rgba(65,81,103,1) 75%, rgba(65,81,103,1) 100%);*/
}

.discount-items {
  width: 1400px;
  height: 894px;
  display: flex;
  flex-direction: column;
  justify-content: center; 
}

.see-more-btn {
  width: 48px;
  height: 48px;
  background: #C7A17A;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 6;
  position: relative;
  top: 300px;
  left:1340px;
  border-radius: 150px;
}

.img-btn {
  margin: 14px 12px;
  width: 24px;
  height: 17px;
}
