body {
  /*width: 1400px;*/
  background: #F9FBFF;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  font-family: Nunito;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
}

header {
  height: 768px;
  /*width: 1400px;*/
  display: inline-flex;
  align-content: flex-end;
}

h1 {
  font-size: 54px;
  line-height: 70px;
  z-index: 2;
}

a/*.text-style_Nunito*/ {
 text-decoration: none;
 color: #EDF0F5;
}

a .menu-list-active {
  font-weight: bold;
}

footer {
  background: #EDF0F5;
  height: 60px;
 /* width: 1400px;*/
  justify-content: center;
  align-items: center;
  display: flex;
}

ul, li {
  padding: 0;
  margin: 0;
}

.title_style {
  width: 800px;
  margin: 0 auto;
  /*width: 740px;*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*align-items: center;*/
  text-align: center;
}

.title_style .small {

}

.title_style .big {

}
